* {
    border-sizing: borderbox;
    margin: 0px;
    padding: 0px;
    font-family: "Kumbh Sans", "sans-serif";
    overflow-x: hidden;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #000;
    z-index: 1000px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 50px;
    position: fixed;
}

#navbar__logo{
    color: lightblue;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;

}

.navbar__menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px auto;
}

.navbar__item{
    height: 80px;
}

.navbar__link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    padding: 0px 1rem;
    display: flex;
    align-items: center
}

.navbar__link:hover{
    color: lightblue;
    transition: all 0.3s ease;
}

.navbar__btn{
    display:flex;
    align-items: center;
}

.navbar__btn.mobile{
    display: none;
}

.navbar__btn.desktop{
    display: flex;
}

.button{
    background: lightblue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}



