* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #000;
    z-index: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
}
#navbar__logo{
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}
.navbar__menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    overflow: hidden; 
}
.navbar__item{
    height: 80px;
    overflow: hidden; 
}
.navbar__link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    overflow: hidden; 
}
.navbar__link:hover{
    color: lightblue;
    transition: all 0.3s ease;
}
.navbar__btn{
    display:flex;
    align-items: center;
}
.navbar__btn.mobile{
    display: none;
}
.navbar__btn.desktop{
    display: flex;
}
.button{
    background: lightblue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.button:hover{
    background-color: aliceblue;
    transition: all 0.3s ease;
    
}
.navbar__toggle{
    display: none;
}
.hero{
    background: #141414;
}
.hero__container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.hero__images{
    text-align: center;
}
#fliteracy{
    height: 75%;
    width: 50%;
    border: 10px solid #003865;
    border-radius: 5px;
}
.hero__content h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    padding-top: 100px;
    padding-bottom: 25px;
}
.hero__content p{
    color: white;
    text-align: center;
    padding: 100px 50px;
    font-size: 1.5rem;
}
.hero__content h3{
    color: white;
    text-align: center;
    padding: 100px 100px;
    font-size: 2.5rem;
}
.module__link{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
.module__item{
    padding: 10px 0 10px 0;
}
.module__content{
    display: flex;
    justify-content: center;
    padding: 50px;
}
#backbutton{
    color: white;
    padding: 50px;
    font-size: 2rem;
    text-decoration: none;
}
.back__button{
    padding: 100px 20px 0 20px;
}

@media screen and (max-width: 968px) {
    .fa-bars{
        line-height: normal  !important;
    }
    .navbar__toggle{ 
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 10; 
        font-size: 1.5rem; 
        border: none;
        background: none; 
        cursor: pointer;
        padding: 0;
    }
    .navbar__menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease;
        background-color: #131313;
        z-index: 10;
        margin: 0;
    }
    .navbar__menu.active{
        left: 0;
        opacity: 1;
    }
    .navbar__item{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar__btn.desktop{
        display: none;
    }
    .navbar__btn.mobile{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;
    }
    .button{
        width: 80%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .navbar__link{
        display: flex;
        padding: 2rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .hero{
        background: #141414;
    }
    .hero__container{
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }
    #fliteracy{
        height: auto;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        border: 10px solid #003865;
        border-radius: 5px;
        padding: 0;
    }
    .hero__content h1{
        color: white;
        text-align: center;
        font-size: 2rem;
        padding-top: 100px;
        padding-bottom: 10px;
    }
    .hero__content p{
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 25px 25px;
    }
    .hero__content h3{
        color: white;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 0;
        padding: 0 25px;
    }
    #lastp{
        padding-bottom: 100px;
    }
}